@model PrintSalesOrderViewModel

@{
    ViewData["Title"] = "Printed Sales Order Document.";
    Layout = "~/Views/Shared/_AdminltePrint.cshtml";
}

<section class="invoice">
    <!-- title row -->
    <div class="row">
        <div class="col-xs-12">
            <h2 class="page-header">
                <i class="fa fa-list"></i> Sales Order
            </h2>
        </div>
        <!-- /.col -->
    </div>
    <!-- info row -->
    <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
            From
            <address>
                <strong>@Model.Branch.BranchName</strong><br>
                @Model.Branch.Address<br>
                @Model.Branch.City , @Model.Branch.ZipCode<br>
                attn: @Model.Branch.ContactPerson <br />
                @Model.Branch.Email <br />
                @Model.Branch.Phone
            </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
            To Customer
            <address>
                <strong>@Model.Customer.CustomerName</strong><br>
                @Model.Customer.Address<br>
                @Model.Customer.City  @Model.Customer.ZipCode<br>
                attn: @Model.Customer.ContactPerson <br />
                @Model.Customer.Email <br />
                @Model.Customer.Phone
            </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
            <div class="row">
                <div class="col-sm-6"><b>SO Number:</b></div>
                <div class="col-sm-6">@Model.SalesOrder.SalesOrderName</div>
            </div>
            <div class="row">
                <div class="col-sm-6"><b>SO Date:</b></div>
                <div class="col-sm-6">@Model.SalesOrder.OrderDate.Date.ToShortDateString()</div>
            </div>
            <div class="row">
                <div class="col-sm-6"><b>Delivery Date:</b></div>
                <div class="col-sm-6">@Model.SalesOrder.DeliveryDate.Date.ToShortDateString()</div>
            </div>
            <div class="row">
                <div class="col-sm-6"><b>Customer Ref:</b></div>
                <div class="col-sm-6">@Model.SalesOrder.CustomerRefNumber</div>
            </div>
            <div class="row">
                <div class="col-sm-6"><b>Currency</b></div>
                <div class="col-sm-6">@Model.Currency.CurrencyName / @Model.Currency.CurrencyCode</div>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <!-- Table row -->
    <div class="row">
        <div class="col-xs-12 table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>

                        <th>Barcode</th>
                        <th>Product</th>
                        <th>Qty</th>
                        <th>Price</th>
                        <th>Amt</th>
                        <th>Disc</th>
                        <th>SubTotal</th>
                        <th>Tax</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Lines)
                    {
                    <tr>

                        <td><div id="@item.SalesOrderLine.ProductId"></div></td>
                        <td>
                            <b>@item.Product.ProductName </b>
                            <i>@item.Product.Description</i>
                        </td>
                        <td>@item.SalesOrderLine.Quantity</td>
                        <td>@item.SalesOrderLine.Price.ToString("n2")</td>
                        <td>@item.SalesOrderLine.Amount.ToString("n2")</td>
                        <td>@item.SalesOrderLine.DiscountAmount.ToString("n2")</td>
                        <td>@item.SalesOrderLine.SubTotal.ToString("n2")</td>
                        <td>@item.SalesOrderLine.TaxAmount.ToString("n2")</td>
                        <td>@item.SalesOrderLine.Total.ToString("n2")</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
    <div class="row">
        <!-- accepted payments column -->
        <div class="col-xs-6">
            <p class="lead">Descriptions:</p>
            <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                @Model.SalesOrder.Remarks
            </p>
        </div>
        <!-- /.col -->
        <div class="col-xs-6">
            <p class="lead">Amount Details</p>
            <div class="table-responsive">
                <table class="table">
                    <tr>
                        <th><b>Amount: </b></th>
                        <td>@Model.Currency.CurrencyCode @Model.SalesOrder.Amount.ToString("n2")</td>
                    </tr>
                    <tr>
                        <th><b>Discount: </b></th>
                        <td>@Model.Currency.CurrencyCode @Model.SalesOrder.Discount.ToString("n2")</td>
                    </tr>
                    <tr>
                        <th><b>SubTotal: </b></th>
                        <td>@Model.Currency.CurrencyCode @Model.SalesOrder.SubTotal.ToString("n2")</td>
                    </tr>
                    <tr>
                        <th><b>Tax: </b></th>
                        <td>@Model.Currency.CurrencyCode @Model.SalesOrder.Tax.ToString("n2")</td>
                    </tr>
                    <tr>
                        <th><b>Freight: </b></th>
                        <td>@Model.Currency.CurrencyCode @Model.SalesOrder.Freight.ToString("n2")</td>
                    </tr>
                    <tr>
                        <th><h3><b>Total: </b></h3></th>
                        <td><h3>@Model.Currency.CurrencyCode @Model.SalesOrder.Total.ToString("n2")</h3></td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>

@section Scripts{
    <script>

        $(function () {

            @foreach (var item in Model.Lines)
            {
               <text>
                    $("#@item.SalesOrderLine.ProductId").ejBarcode({
                        text: "@item.Product.Barcode",
                        symbologyType: "code39",
                        displayText: true,
                        barHeight: 45,
                    });
               </text>
            }



            window.print();
        });

    </script>
}

